@keyframes error {
  from {
    transform: translate(-50%, 0);
  }
  90% {
    transform: translate(-50%, 120px);
  }
  to {
    transform: translate(-50%, 120px);
  }
}
.error {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 80px;
  display: grid;
  place-items: center;
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 30px;
  font-size: 22px;
  animation: error 1.5s ease-out alternate;
  animation-iteration-count: 3;
}