@import '../../config//scss//variables';

// ^ 컴포넌트
.article {
  display: grid;
  place-content: center;
  gap: 20px;
}

// * Aside 다른 프로젝트
.aside {
  position: fixed;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  // TODO: 1, 2, 3 ... 생성으로 프로젝트가 많아지면 생기는 현상 해결

  > ul {
    li {
      margin: 10px 0;
      &:hover {
        text-decoration: underline;
      }

      a {
        display: block;
      }

      // 현재 프로젝트
      .active {
        color: $themeColor;
        border-left: 5px solid #000;
        text-indent: 10px;
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

// ^ 프로젝트 상단 정보 (개발자, 타이틀, 수정하기)
.topWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

// 개발자 이미지
.devImgWrap {
  float: left;
}
.devImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

// 타이틀
.titleWrap {
  text-align: center;
  font-size: 24px;
  line-height: 1;
  > small {
    font-size: 12px;
  }
}

// 수정하기 버튼
.editBtn {
  float: right;
}
// 비로그인시 차지 영역
.empty {
  width: 100px;
}

// ^ 프로젝트 이미지
.picture {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  margin: 10px 0;
  img {
    max-width: 1200px;
    max-height: 675px;
    object-fit: cover;
  }
}
// ^ 소스코드
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  // 소스코드
  .url {
    display: block;
    width: 40px;
    height: 40px;
    background: url('/public/images/ico/github-icon.svg') no-repeat center /
      cover;
  }
}

// ^ 프로그램 언어 및 도구
.language {
  display: flex;
  gap: 10px;
}
.logoImg {
  width: 50px;
  height: 50px;
  margin: 0 auto 5px;
  & + p {
    font-size: 12px;
    text-align: center;
  }
}

// ^ 본문
.description {
  font-size: 18px;
  padding: 10px;
}

// * 이전 페이지로 이동
.prevBtn {
  position: fixed;
  top: calc($headerHeight + 50px);
  left: 50px;
  width: 30px;
  height: 30px;
  &::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    rotate: -45deg;
    transform: translate(50%, 50%);
  }
}
