.header {
  z-index: 1000;
  background-color: #000;
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px 10px #ccc;
}
.header .center {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 10px;
}
@media screen and (max-width: 743px) {
  .header .center {
    padding: 0 30px;
  }
}
.header .center .moreEmpty {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 30px;
}
.header .center .picture {
  display: flex;
  align-items: center;
  height: 80px;
}
@media screen and (max-width: 743px) {
  .header .center .picture {
    margin-left: 50px;
  }
}
.header .center .ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 743px) {
  .header .center .ul {
    display: none;
  }
}
.header .center .ul li {
  position: relative;
}
.header .center .ul li::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, 7px);
  transform-origin: center;
  background-color: #fff;
  transition: 0.5s;
}
.header .center .ul li:hover::after {
  width: 100%;
}
.header .center .btn {
  display: flex;
  gap: 10px;
}