@import '../../config/scss/variables';

* {
  font-family: 'Noto Sans-KR', sans-serif;
}

main {
  padding: 0 30px;

  // 컴포넌트
  > article {
    min-height: calc(100vh - $headerHeight * 2);
    position: relative;
    padding: 30px 0;
  }

  // 섹션 구분용 빈 영역
  .part {
    position: absolute;
    transform: translateY(-$headerHeight);
  }
}
