@import '../../config/scss/variables';

* {
  font-family: 'Noto Sans-KR', sans-serif;
}

main {
  padding: 0 30px;

  .part {
    position: absolute;
    transform: translateY(-$headerHeight);
  }
}

article {
  padding: 30px 0;
}
