extends base

block content 
  h1=pageTitle
  section.main-banner
    include partials/main-banner
  .container 
    section#introduction 
      include partials/sec1_introduction
    section#project 
      //- include partials/sec2_project