extends base

block content 
  form(method="POST")
    input(name="url" placeholder="홈페이지 링크" type="text" required)
    input(name="name" placeholder="제목" type="text" required)
    input(name="date" placeholder="제작 날짜" type="date" required)
    input(name="thumbnail" placeholder="" type="text" required)
    input(name="languages" placeholder="" type="text" required)
    input(name="description" placeholder="" type="text" required)