@import '../variables';

.header {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: $headerHeight;
  position: sticky;
  top: 0;
  left: 0;

  .center {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 10px;

    @include res_Mobile {
      padding: 0 30px;
    }

    .moreEmpty {
      position: absolute;
      left: 30px;
      width: 30px;
      height: 30px;
    }

    .picture {
      display: flex;
      align-items: center;
      height: $headerHeight;
    }
  }
}
