@import "../variables";

.portfolios {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  gap: 20px;
  width: 90%;
  margin: 0 auto;

  @include res_Mobile{
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  }
}

.portfolio_wrap {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;

  @include res_Mobile{
    padding: 20px 0 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: darkslategray;
  }
}

.portfolioImg {
  object-fit: contain;
  margin: 0 auto;
  border: 0.5px solid rgba(255, 255, 255, 0.5);

  @include res_Mobile{
    width: 100%;
    background-color: rgba(255,255,255,0.5);
  }
}

.date {
  font-size: 12px;
  color: gray;
}
