@mixin res($min: null, $max: null) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin res_SmallMobile($px: 320px) {
  @media screen and (max-width: $px) {
    @content;
  }
}

@mixin res_Mobile($px: 743px) {
  @media screen and (max-width: $px) {
    @content;
  }
}

@mixin res_Tablet($px: 1024px) {
  @media screen and (max-width: $px) {
    @content;
  }
}

@mixin pos($p: null, $t: null, $r: null, $b: null, $l: null, $d: null) {
  position: $p;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
  display: $d;
}

@mixin type($d: null, $w: null, $h: null) {
  display: $d;
  width: $w;
  height: $h;
}

@mixin layout($d: null, $jc: null, $ai: null, $g: null) {
  display: $d;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

$headerHeight: 80px;
$themeColor: #ecdad1;
