@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .flexCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gridCenter {
        display: grid;
        place-items: center;
    }
    .posCenter{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}