* {
  font-family: "Noto Sans-KR", sans-serif;
}

main {
  padding: 0 30px;
}
@media screen and (max-width: 743px) {
  main {
    padding: 0;
    width: 95%;
    margin: 0 auto;
  }
}
main > article {
  min-height: calc(100vh - 160px);
  position: relative;
  padding: 30px 0;
}
main .part {
  position: absolute;
  transform: translateY(-80px);
}