@keyframes mainBannerTextOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mainBannerTextPos {
  0% {
    top: 180px;
  }
  50% {
    top: 135px;
  }
  100% {
    top: 90px;
  }
}
@keyframes mainBannerTextColor {
  from {
    color: #000;
  }
  to {
    color: #999;
  }
}
.main-banner {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-banner .banner {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  position: relative;
  top: 180px;
  animation: mainBannerTextPos 2s 1s forwards, mainBannerTextColor 1s 4s forwards;
}
.main-banner .banner > p {
  opacity: 0;
  animation: mainBannerTextOpacity 1s forwards;
}
.main-banner .banner > p.text__ani--1 {
  animation-delay: 1s;
}
.main-banner .banner > p.text__ani--2 {
  animation-delay: 2s;
}
.main-banner .banner > p.text__ani--3 {
  animation-delay: 3s;
}
.main-banner .banner > p .active {
  transition: 0.3s ease-in;
  color: #000;
}

.introduction p {
  margin-bottom: 10px;
}
.introduction ul {
  text-indent: 10px;
}