header 
  #container 
    h1.logo 
      a(href="/")
        p 홈페이지 로고 자리
    nav#nav 
      ul 
        li 
          a(href="#") 홈페이지 소개
        li 
          a(href="#") 프로젝트
        li 
          a(href="#") 정보 모음
      ul.login
        if !loggedInUser
          li
            a(href="/login") 로그인
          li 
            a(href="/join") 회원가입
        else
          li 
            a(href="/logout") 로그아웃