h2.title 자기소개
h3 
  span 코딩
  | 이란?
p 새하얀 도화지에, 마치 그림을 그리듯 하나씩 생겨나는 도형을 적절한 위치에 이동시키며, 도형들이 멈춰있다가, 이동하는 멋진 일이라고 생각합니다.
h3 개발을 하게 된 이유
p 컴퓨터를 사용하면서, 온라인에서 정보를 검색하면 찾을 수 있는 정보들을 시청하기만 하는 것이 아닌,
  strong 만들어 보고 싶다 라는 생각에 직접 만들 수 있는 것
  | 중에 '동영상'이라는 주제를 갖고 공부하기 시작했습니다.
ul 
  li 모션 그래픽
  li 3D 그래픽
p 혼자서 공부하다, 내가 한 일, 해낸 일에 대해 기록을 하기 위해서 페이스북 페이지에 글을 올리고, 저장을 하다 보니 
  br 
  | 문득
  | 레이아웃의 위치, 배경 등이 보이며 내가 원하는 디자인대로 만들어서
  | 운영하는 것은 어떨까? 하는 생각으로 개발을 시작하게 되었습니다.
h3 개발을 하면서 느낀점
p 코드를 입력하면, 화면에 출력이 되는 모습과 점차 완성되어 가는 페이지를 보면서 어느새 웃고 있는 저의 모습을 볼 수 있었습니다.
p 코딩 하는 것이 저는 행복하고, 타인이 만든 작품을 보고, 나도 만들고 싶어! 저걸 응용해서 내 홈페이지에 적용해보면 어떨까? 시도해고 매 번 결과를 보면서 새로운 의지를 얻습니다.
p 개발자
  span 한산
  | 이였습니다.