$padding: 30px;

.hidden {
  opacity: 0;
}

.project {
  background-color: #eee;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: $padding;
  position: relative;
  button > img {
    width: 30px;
    height: 30px;
  }

  // * 프로젝트 간단 수정
  .edit {
    position: absolute;
    right: $padding;
    z-index: 15;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  // * 날짜
  .date {
    top: 0;
    font-size: 14px;
    position: absolute;
    transform: translateY(50%);
  }

  // * 타이틀(제목)
  .title {
    font-size: 24px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  // * 개발자 목록
  .developer {
    display: flex;
    float: left;
    position: absolute;
    left: $padding;
    // 개발자 이미지
    .devImg {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  // * 프로젝트 이미지
  .imgWrap {
    margin: 10px 0;
    // 이미지
    .img {
      width: 500px;
      height: 200px;
      margin: 0 auto;
      border-radius: 10px;
      object-fit: contain;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  // .deleteCheck {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   background-color: rgba(255, 255, 255, 0.5);
  //   width: 300px;
  //   height: 200px;
  //   z-index: 20;
  // }

  // & Form
  .form {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: calc(100% - ($padding * 2));
    z-index: 10;

    // & 입력 창 서식
    input {
      background-color: transparent;
      border: none;
    }

    // & (폼)날짜
    .date {
      top: 0;
      font-size: 14px;
      transform: translateY(-90%);
    }

    // & (폼)타이틀
    .title {
      margin: 0 auto;
      font-weight: bold;
    }

    // & (폼)이미지 박스
    .imgWrap {
      width: 100%;
      text-align: center;

      // & (폼)이미지 업로드
      input[type='file'] {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
      }

      // & (폼)이미지
      img {
        cursor: pointer;
        width: 500px;
        height: 200px;
        margin: 0 auto;
      }
    }

    // & (폼)업데이트
    .submit {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

// * 언어
.language {
  display: flex;
  gap: 5px;
  // 프로그래밍 언어 이미지
  > img {
    width: 30px;
    height: 30px;
  }
}
