.article {
  //   min-height: initial;
  text-align: center;
}

.infoWrap {
  max-width: 1200px;
  margin: 0 auto;
}
.info {
  display: flex;
  justify-content: space-between;
  > h3 {
    flex: 1;
  }
  > small {
    width: 100px;
  }
}
