.article {
  display: grid;
  place-content: center;
  gap: 20px;
}

.aside {
  position: fixed;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.aside > ul li {
  margin: 10px 0;
}
.aside > ul li:hover {
  text-decoration: underline;
}
.aside > ul li a {
  display: block;
}
.aside > ul li .active {
  color: #ecdad1;
  border-left: 5px solid #000;
  text-indent: 10px;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
}

.form {
  display: grid;
  gap: 30px;
  width: 1200px;
}
.form label {
  display: flex;
  gap: 10px;
  width: 100%;
}
.form label .name {
  width: 50px;
}
.form label input {
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
.form label input[type=file] {
  width: 80px;
  overflow: hidden;
}
.form label .select ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.form label .select ul > li {
  position: relative;
  cursor: pointer;
}
.form label .select ul > li .check {
  display: block;
  width: 15px;
  height: 15px;
  background: no-repeat center/cover;
  background-image: url("/public/images/ico/check.svg");
  position: absolute;
  right: 0;
}
.form label .select ul > li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.form label textarea {
  all: unset;
  width: 100%;
  height: 400px;
  border: 1px solid #eee;
  padding: 10px;
}
.form img {
  margin: 0 auto;
  max-width: 400px;
  max-height: 300px;
}

.editCancel {
  position: fixed;
  top: 130px;
  right: 50px;
  width: 30px;
  height: 30px;
}
.editCancel::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 2px;
  height: 40px;
  background-color: #000;
  transform-origin: left bottom;
  rotate: 45deg;
}
.editCancel::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 2px;
  height: 40px;
  background-color: #000;
  transform-origin: right bottom;
  rotate: -45deg;
}

.topWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.devImgWrap {
  float: left;
}

.devImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.titleWrap {
  text-align: center;
  font-size: 24px;
  line-height: 1;
}
.titleWrap > small {
  font-size: 12px;
}

.edit {
  float: right;
  display: flex;
  gap: 20px;
}

.empty {
  width: 100px;
}

.picture {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  margin: 10px 0;
}
.picture img {
  max-width: 1200px;
  max-height: 675px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.info .url {
  display: block;
  width: 40px;
  height: 40px;
  background: url("/public/images/ico/github-icon.svg") no-repeat center/cover;
}

.language {
  display: flex;
  gap: 10px;
}

.logoImg {
  width: 50px;
  height: 50px;
  margin: 0 auto 5px;
}
.logoImg + p {
  font-size: 12px;
  text-align: center;
}

.description {
  font-size: 18px;
  padding: 10px;
}

.prevBtn {
  position: fixed;
  top: 130px;
  left: 50px;
  width: 30px;
  height: 30px;
}
.prevBtn::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  rotate: -45deg;
  transform: translate(50%, 50%);
}